
td {
    border-top: 1px solid #1a1a1a; 
    border-bottom: 1px solid #1a1a1a;
    border-left: 1px solid #1a1a1a; 
    border-right: 1px solid #1a1a1a;
    text-align: left;
}

table {
    border-spacing:0;
}
